{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block titlebar -%}Order{% endblock %}

{% block body -%}
    
    <div class="row content-boxes-v2 margin-bottom-30">
        <div class="col-md-7 md-margin-bottom-30"> 
            <div id="form-container">
              
                {{ include('AppBundle:PurchaseOrder:add_form.html.twig') }}
                
            </div>
        </div>        
        
        
        <div class="col-md-4 md-margin-bottom-30">
            
            <div class="shadow-wrapper margin-bottom-60">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <h2 class="heading-sm">
                        <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-lightbulb-o"></i>
                        <span>Information</span>
                    </h2>
                    <ul>
                        <li>
                            You have to add 5 products to order mandatory.
                        </li>
                        <li>
                            If you want to test the stock level validation add a quantity more than 100.
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
    </div>
    

{% endblock %}
