{% extends '::base.html.twig' %}
{% block titlebar -%}{{strPackingStationName}} [Pick Sheettt] {% endblock %}
{% block body -%}
    <h3>Optimum Route (Distance: {{ intTotalDistance }} meters)</h3>
    {% for arrWarehouse in arrWarehouseCollection %}
           {{ include('AppBundle:PurchaseOrder:map_details.html.twig', { 'arrWarehouse': arrWarehouse, 'objProduct': arrProduct[loop.index0]}) }}
           <br>
           <br>
    {% endfor %}    
{% endblock %}
